<section>
    <div class="container-fluid">
        <form [formGroup]="contactForm" (ngSubmit)="adddetail()" novalidate class="d-flex-center">
            <mat-card class="example-card">
                <mat-card-content>  
                    <div class="example-container">
                    <div>
                        <!-- input type Name -->
                        <mat-form-field appearance="outline">
                            <mat-label>Your Full Name</mat-label>
                            <input matInput placeholder="John kerry" formControlName="name">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
                            <mat-error
                                *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched) && contactForm.get('name')?.errors?.required">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div> <!-- input type Number -->
    
                        <mat-form-field appearance="outline">
                            <mat-label>Your Phone Number</mat-label>
                            <span matPrefix>+91 &nbsp;</span>
                            <input matInput placeholder="Phone Number" formControlName="PhoneNumber">
                            <mat-icon matSuffix>call</mat-icon>
            
                            <mat-error
                                *ngIf="!contactForm.get('PhoneNumber')?.errors?.required && (contactForm.get('PhoneNumber')?.errors?.pattern)">
                                Please enter valid Number
                            </mat-error>
                            <mat-error
                                *ngIf="contactForm.get('PhoneNumber')?.invalid && (contactForm.get('PhoneNumber')?.dirty || contactForm.get('PhoneNumber')?.touched) && contactForm.get('PhoneNumber')?.errors?.required">
                                Phone number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>
                        <!-- input type email -->
                        <mat-form-field appearance="outline">
                            <mat-label>Your E-Mail</mat-label>
                            <input matInput placeholder="E-Mail" formControlName="email">
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            <mat-error
                                *ngIf="!contactForm.get('email')?.errors?.required && (contactForm.get('email')?.errors?.pattern)">
                                Please enter a valid <strong>email address</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched) && contactForm.get('email')?.errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>
                        <!-- input type Name -->
                        <mat-form-field appearance="outline">
                            <mat-label>Your Subject</mat-label>
                            <input matInput placeholder="John kerry" formControlName="subject">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
                            <mat-error
                                *ngIf="contactForm.get('subject')?.invalid && (contactForm.get('subject')?.dirty || contactForm.get('subject')?.touched) && contactForm.get('subject')?.errors?.required">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>
                        <!-- input type Name -->
                        <mat-form-field appearance="outline">
                            <mat-label>Your Message</mat-label>
                            <input matInput placeholder="John kerry" formControlName="msg">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
                            <mat-error
                                *ngIf="contactForm.get('msg')?.invalid && (contactForm.get('msg')?.dirty || contactForm.get('msg')?.touched) && contactForm.get('msg')?.errors?.required">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
           
                    <!-- button Submit -->
                    <div >
                        <button type="submit" (click)="adddetail()"  mat-raised-button color="primary" mat-button>Submit</button>
                    </div>
                </div></mat-card-content>
              </mat-card>
          
        </form>
    </div>
</section>
